@import "common/styles/global";

.home {
  //   Mentor
  .info {
    padding: 10px 0;
    text-align: center;

    &.first {
      padding-top: 20px;
    }
    &.bg-blue {
      background-color: #f2f2ff;
    }
    &.bg-orange {
      background-color: #fff0e3;
    }

    .heading {
      margin-bottom: 30px;
      color: $color-primary;
      font-size: 40px;
      font-weight: $font-weight;
      line-height: 100%;

      &.color-black {
        color: $base-color;
      }
      &.color-red {
        color: #b24020;
      }
      &.color-orange {
        color: #f79641;
        font-weight: $font-weight-bold;
        line-height: 100%;
      }

      small {
        display: block;
        margin-top: 10px;
        color: $base-color;
        font-size: 20px;
        font-weight: $font-weight;
        line-height: 100%;
      }
    }

    p {
      font-size: 28px;
      font-weight: $font-weight-bold;
      line-height: 100%;
      &.large {
        margin: 0 0 40px;
        color: $base-color;
        font-weight: normal;
        line-height: 100%;
      }
    }

    figure {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      max-height: 200px;
      overflow: hidden;
    }
    figcaption {
      color: #f79641;
      font-size: 24px;
      font-weight: $font-weight;
      line-height: 100%;
    }

    .action {
      margin-bottom: 20px;
      button {
        min-width: 180px;
        height: 50px;
        border-radius: 25px;
        font-size: 18px;
        font-weight: $font-weight-bold;
      }
    }

    ul.features {
      width: 100%;
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;

        i {
          width: 120px;
          height: 120px;
          margin: auto;
          border-radius: 100%;
          border: solid 1px rgba(1, 115, 177, 0.3);

          img,
          svg {
          }
        }
        label {
          color: $color-primary;
          font-size: 24px;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .home {
    .features {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@include media-breakpoint-up(xl) {
  .home {
    //   Mentor
    .info {
      padding: 50px 0;
      text-align: left;

      &.first {
        padding-top: 50px;
      }
      &.bg-blue {
        background-color: #f2f2ff;
      }
      &.bg-orange {
        background-color: #fff0e3;
      }

      .heading {
        margin-bottom: 30px;
        color: $color-primary;
        font-size: 75px;
        font-weight: $font-weight-bold;
        line-height: 100%;

        &.color-black {
          color: $base-color;
        }
        &.color-red {
          color: #b24020;
        }
        &.color-orange {
          color: #f79641;
          font-size: 75px;
          font-weight: $font-weight-bold;
          line-height: 100%;
        }

        small {
          display: block;
          margin-top: 10px;
          color: $base-color;
          font-size: 24px;
          font-weight: $font-weight;
          line-height: 100%;
        }
      }

      p {
        font-size: 28px;
        font-weight: $font-weight-bold;
        &.large {
          margin: 0 0 40px;
          color: $base-color;
          font-size: 85px;
          font-weight: normal;
          line-height: 100%;
        }
      }

      figure {
        max-height: 100%;
      }
      figcaption {
        color: #f79641;
        font-size: 56px;
        font-weight: $font-weight;
        line-height: 70px;
      }

      button {
        min-width: 180px;
        height: 50px;
        border-radius: 25px;
        font-size: 18px;
        font-weight: $font-weight-bold;
      }

      ul.features {
        width: 100%;
        padding: 0;
        margin: 80px 0;
        list-style-type: none;

        li {
          display: flex;
          flex-direction: column;
          justify-content: center;

          i {
            width: 120px;
            height: 120px;
            margin: auto;
            margin-bottom: 30px;
            border-radius: 100%;
            border: solid 1px rgba(1, 115, 177, 0.3);

            img,
            svg {
            }
          }
          label {
            color: $color-primary;
            font-size: 40px;
            font-weight: $font-weight-bold;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(ms) {
  .home {
    //   Mentor
    .info {
      padding: 120px 0;
      text-align: left;

      &.first {
        padding-top: 50px;
      }
      &.bg-blue {
        background-color: #f2f2ff;
      }
      &.bg-orange {
        background-color: #fff0e3;
      }

      .heading {
        margin-bottom: 30px;
        color: $color-primary;
        font-size: 85px;
        font-weight: $font-weight-bold;
        line-height: 100px;

        &.color-black {
          color: $base-color;
        }
        &.color-red {
          color: #b24020;
        }
        &.color-orange {
          color: #f79641;
          font-size: 75px;
          font-weight: $font-weight-bold;
          line-height: 100%;
        }

        small {
          display: block;
          margin-top: 10px;
          color: $base-color;
          font-size: 24px;
          font-weight: $font-weight;
          line-height: 100%;
        }
      }

      p {
        font-size: 28px;
        font-weight: $font-weight-bold;
        &.large {
          margin: 0 0 40px;
          color: $base-color;
          font-size: 85px;
          font-weight: normal;
          line-height: 100%;
        }
      }

      figure {
        figcaption {
          color: #f79641;
          font-size: 56px;
          font-weight: $font-weight;
          line-height: 70px;
        }
      }

      button {
        min-width: 180px;
        height: 50px;
        border-radius: 25px;
        font-size: 18px;
        font-weight: $font-weight-bold;
      }

      ul.features {
        width: 100%;
        padding: 0;
        margin: 80px 0;
        list-style-type: none;

        li {
          display: flex;
          flex-direction: column;
          justify-content: center;

          i {
            width: 120px;
            height: 120px;
            margin: auto;
            margin-bottom: 30px;
            border-radius: 100%;
            border: solid 1px rgba(1, 115, 177, 0.3);

            img,
            svg {
            }
          }
          label {
            color: $color-primary;
            font-size: 40px;
            font-weight: $font-weight-bold;
          }
        }
      }
    }
  }
}
