@font-face {
  font-family: "MyriadApple";
  src: url("/static/fonts/MYRIADAT.TTF");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyriadApple";
  src: url("/static/fonts/MYRIAATI.TTF");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MyriadApple";
  src: url("/static/fonts/MYRIADAM.TTF");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadApple";
  src: url("/static/fonts/MYRIAAMI.TTF");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "MyriadApple";
  src: url("/static/fonts/MYRIADAS.TTF");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MyriadApple";
  src: url("/static/fonts/MYRIAASI.TTF");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "MyriadApple";
  src: url("/static/fonts/MYRIADAB.TTF");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "MyriadApple";
  src: url("/static/fonts/MYRIAABI.TTF");
  font-weight: 800;
  font-style: italic;
}
