@import "common/styles/global";

.footer[role="main"] {
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 10px;
  background-color: #d7f0fe;

  .row {
    > div {
      padding: 0;
    }
  }

  .logo {
    width: 80px;

    figure {
      padding: 0;
      margin: 0;
    }
  }

  .nav {
    a.nav-link {
      color: $base-color;
    }
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      padding: 0 5px;
      a {
        display: block;
        width: 27px;
        height: 27px;
        border-radius: 100%;
        border: 1px solid #dddddd;
        color: $color-primary;
        text-align: center;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .footer[role="main"] {
    position: static;
    // z-index: 1;
    // left: 0;
    // bottom: 0;
    // width: 100%;
    padding: 35px 0;
    background-color: #d7f0fe;

    .logo {
      width: auto;
    }

    .nav {
      a.nav-link {
        color: $base-color;
      }
    }

    .social-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        padding: 0 5px;
        a {
          display: block;
          width: 35px;
          height: 35px;
          border-radius: 100%;
          border: 1px solid #dddddd;
          color: $color-primary;
          text-align: center;
        }
      }
    }
  }
}
